In [1]:
import pandas as pd

In [2]:
csv_file_path = 'C:/Users/Home/NBA_Playoffs/Data/advanced_stats.csv'
df = pd.read_csv(csv_file_path)
df.head()

,Rk,Team,Age,W,L,PW,PL,MOV,SOS,SRS,...,TOV%,ORB%,FT/FGA,eFG%.1,TOV%.1,DRB%,FT/FGA.1,Arena,Attend.,Attend./G
0,1.0,Boston Celtics*,27.4,57.0,25.0,57,25,6.52,-0.15,6.38,...,12.0,22.1,0.197,0.528,11.3,78.5,0.180,TD Garden,766240,18689
1,2.0,Cleveland Cavaliers*,25.4,51.0,31.0,55,27,5.38,-0.15,5.23,...,12.3,23.6,0.206,0.535,14.4,76.3,0.210,Rocket Mortgage Fieldhouse,777280,18958
2,3.0,Philadelphia 76ers*,28.2,54.0,28.0,52,30,4.32,0.06,4.37,...,12.6,21.6,0.250,0.541,13.0,77.2,0.217,Wells Fargo Center,839261,20470
3,4.0,Memphis Grizzlies*,24.4,51.0,31.0,51,31,3.94,-0.34,3.60,...,11.7,26.5,0.190,0.526,13.1,75.9,0.206,FedEx Forum,707836,17264
4,5.0,Milwaukee Bucks*,29.8,58.0,24.0,50,32,3.63,-0.02,3.61,...,12.7,25.0,0.184,0.520,10.4,77.8,0.175,Fiserv Forum,718786,17531

In [3]:
# Show column names and data types
print(df.dtypes)

Rk           float64
Team          object
Age          float64
W            float64
L            float64
PW             int64
PL             int64
MOV          float64
SOS          float64
SRS          float64
ORtg         float64
DRtg         float64
NRtg         float64
Pace         float64
FTr          float64
3PAr         float64
TS%          float64
eFG%         float64
TOV%         float64
ORB%         float64
FT/FGA       float64
eFG%.1       float64
TOV%.1       float64
DRB%         float64
FT/FGA.1     float64
Arena         object
Attend.        int64
Attend./G      int64
dtype: object

In [4]:
unique_teams = df['Team'].unique()
print("Unique teams in the DataFrame:", unique_teams)

Unique teams in the DataFrame: ['Boston Celtics*' 'Cleveland Cavaliers*' 'Philadelphia 76ers*'
 'Memphis Grizzlies*' 'Milwaukee Bucks*' 'Denver Nuggets*'
 'New York Knicks*' 'Sacramento Kings*' 'Phoenix Suns*'
 'New Orleans Pelicans*' 'Golden State Warriors*' 'Toronto Raptors*'
 'Chicago Bulls*' 'Oklahoma City Thunder*' 'Brooklyn Nets*'
 'Los Angeles Lakers*' 'Los Angeles Clippers*' 'Atlanta Hawks*'
 'Dallas Mavericks' 'Minnesota Timberwolves*' 'Miami Heat*' 'Utah Jazz'
 'Washington Wizards' 'Orlando Magic' 'Indiana Pacers'
 'Portland Trail Blazers' 'Charlotte Hornets' 'Houston Rockets'
 'Detroit Pistons' 'San Antonio Spurs' 'League Average']

In [5]:
# Calculate the average pace per game
average_pace = df['Pace'].mean()
print(f"Average Pace per Game: {average_pace:.2f}")

Average Pace per Game: 99.15

In [6]:
# List of playoff teams (replace with the actual team names)
playoff_teams = [
    "Brooklyn Nets*",
    "Philadelphia 76ers*",
    "Boston Celtics*",
    "New York Knicks*",
    "Cleveland Cavaliers*",
    "Golden State Warriors*",
    "Sacramento Kings*",
    "Milwaukee Bucks*",
    "Denver Nuggets*",
    "Memphis Grizzlies*",
    "Los Angeles Clippers*",
    "Phoenix Suns*",
    "Los Angeles Lakers*",
    "Atlanta Hawks*",
    "Miami Heat*",
    "Minnesota Timberwolves*",
]

# Filter the DataFrame to include only playoff teams
playoff_teams_df = df[df['Team'].isin(playoff_teams)]

# Display the filtered DataFrame
print(playoff_teams_df)

# Save the filtered DataFrame to a new CSV file
csv_file_path_playoffs = "playoff_teams.csv"
playoff_teams_df.to_csv(csv_file_path_playoffs, index=False)

      Rk                     Team   Age     W     L  PW  PL   MOV   SOS   SRS  \
0    1.0          Boston Celtics*  27.4  57.0  25.0  57  25  6.52 -0.15  6.38
1    2.0     Cleveland Cavaliers*  25.4  51.0  31.0  55  27  5.38 -0.15  5.23
2    3.0      Philadelphia 76ers*  28.2  54.0  28.0  52  30  4.32  0.06  4.37
3    4.0       Memphis Grizzlies*  24.4  51.0  31.0  51  31  3.94 -0.34  3.60
4    5.0         Milwaukee Bucks*  29.8  58.0  24.0  50  32  3.63 -0.02  3.61
5    6.0          Denver Nuggets*  26.6  53.0  29.0  49  33  3.33 -0.29  3.04
6    7.0         New York Knicks*  24.5  47.0  35.0  48  34  2.93  0.06  2.99
7    8.0        Sacramento Kings*  25.4  48.0  34.0  47  35  2.65 -0.35  2.30
8    9.0            Phoenix Suns*  28.1  45.0  37.0  46  36  2.07  0.01  2.08
10  11.0   Golden State Warriors*  27.3  44.0  38.0  45  37  1.80 -0.15  1.66
14  15.0           Brooklyn Nets*  28.0  45.0  37.0  43  39  0.85  0.18  1.03
15  16.0      Los Angeles Lakers*  27.9  43.0  39.0  42  40  0.57 -0.15  0.43
16  17.0    Los Angeles Clippers*  29.7  44.0  38.0  42  40  0.50 -0.19  0.31
17  18.0           Atlanta Hawks*  24.9  41.0  41.0  42  40  0.29  0.02  0.32
19  20.0  Minnesota Timberwolves*  25.8  42.0  40.0  41  41 -0.04 -0.18 -0.22
20  21.0              Miami Heat*  27.7  44.0  38.0  40  42 -0.32  0.18 -0.13

    ...  TOV%  ORB%  FT/FGA  eFG%.1  TOV%.1  DRB%  FT/FGA.1  \
0   ...  12.0  22.1   0.197   0.528    11.3  78.5     0.180
1   ...  12.3  23.6   0.206   0.535    14.4  76.3     0.210
2   ...  12.6  21.6   0.250   0.541    13.0  77.2     0.217
3   ...  11.7  26.5   0.190   0.526    13.1  75.9     0.206
4   ...  12.7  25.0   0.184   0.520    10.4  77.8     0.175
5   ...  13.1  24.8   0.194   0.543    12.2  76.4     0.201
6   ...  11.4  28.3   0.217   0.536    11.4  77.1     0.210
7   ...  12.0  22.7   0.225   0.563    12.6  77.2     0.203
8   ...  12.0  26.6   0.191   0.532    12.9  76.0     0.234
10  ...  14.1  24.4   0.178   0.540    12.3  76.0     0.214
14  ...  12.7  19.6   0.208   0.530    12.2  73.7     0.212
15  ...  12.3  22.8   0.232   0.535    10.9  76.3     0.171
16  ...  12.8  22.9   0.217   0.543    11.7  76.6     0.195
17  ...  11.2  25.1   0.200   0.552    12.4  75.8     0.206
19  ...  13.6  21.5   0.205   0.540    13.3  74.3     0.225
20  ...  12.4  22.8   0.224   0.561    14.5  77.7     0.198

                         Arena  Attend.  Attend./G
0                    TD Garden   766240      18689
1   Rocket Mortgage Fieldhouse   777280      18958
2           Wells Fargo Center   839261      20470
3                  FedEx Forum   707836      17264
4                 Fiserv Forum   718786      17531
5                   Ball Arena   788635      19235
6   Madison Square Garden (IV)   795110      19393
7              Golden 1 Center   715491      17451
8             Footprint Center   699911      17071
10                Chase Center   740624      18064
14             Barclays Center   724439      17669
15            Crypto.com Arena   763168      18614
16            Crypto.com Arena   720543      17574
17            State Farm Arena   719787      17556
19               Target Center   687510      16769
20                   FTX Arena   807190      19688

[16 rows x 28 columns]