In [1]:
import pandas as pd

In [3]:
# Replace 'file_name.csv' with the name of the CSV file you want to load
csv_file_path = 'C:/Users/Home/NBA_Playoffs/Data/shooting_stats.csv'
df = pd.read_csv(csv_file_path)

# Display the first few rows of the DataFrame
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,% of FGA by Distance,% of FGA by Distance.1,% of FGA by Distance.2,% of FGA by Distance.3,...,% of FG Ast'd,% of FG Ast'd.1,Dunks,Dunks.1,Layups,Layups.1,Corner,Corner.1,Heaves,Heaves.1
0,Rk,Team,G,MP,FG%,Dist.,2P,0-3,10-Mar,16-Oct,...,2P,3P,%FGA,Md.,%FGA,Md.,%3PA,3P%,Att.,Md.
1,1,Atlanta Hawks*,82,19855,0.483,13.3,0.669,0.254,0.188,0.135,...,0.495,0.765,0.065,455,0.245,1039,0.267,0.362,8,0
2,2,Boston Celtics*,82,19980,0.475,15.5,0.52,0.214,0.194,0.065,...,0.513,0.825,0.051,337,0.276,1183,0.224,0.402,12,0
3,3,Brooklyn Nets*,82,19730,0.487,14.6,0.603,0.222,0.177,0.122,...,0.525,0.82,0.059,373,0.222,891,0.243,0.392,6,0
4,4,Chicago Bulls*,82,19905,0.49,13.6,0.667,0.281,0.146,0.116,...,0.474,0.886,0.054,329,0.273,1163,0.262,0.397,4,0

In [4]:
# Show column names and data types
print(df.dtypes)

Unnamed: 0                object
Unnamed: 1                object
Unnamed: 2                object
Unnamed: 3                object
Unnamed: 4                object
Unnamed: 5                object
% of FGA by Distance      object
% of FGA by Distance.1    object
% of FGA by Distance.2    object
% of FGA by Distance.3    object
% of FGA by Distance.4    object
% of FGA by Distance.5    object
FG% by Distance           object
FG% by Distance.1         object
FG% by Distance.2         object
FG% by Distance.3         object
FG% by Distance.4         object
FG% by Distance.5         object
% of FG Ast'd             object
% of FG Ast'd.1           object
Dunks                     object
Dunks.1                   object
Layups                    object
Layups.1                  object
Corner                    object
Corner.1                  object
Heaves                    object
Heaves.1                  object
dtype: object

In [5]:
# Show basic statistics for each column
print(df.describe())

       Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
count          31         32         32         32         32         32
unique         31         32          2         13         23         18
top            Rk       Team         82      19830      0.475       13.1
freq            1          1         31          6          4          4

       % of FGA by Distance % of FGA by Distance.1 % of FGA by Distance.2  \
count                    32                     32                     32
unique                   28                     30                     29
top                   0.649                  0.246                  0.224
freq                      2                      2                      2

       % of FGA by Distance.3  ... % of FG Ast'd % of FG Ast'd.1  Dunks  \
count                      32  ...            32              32     32
unique                     23  ...            29              28     24
top                      0.08  ...         0.525            0.82  0.059
freq                        3  ...             2               3      3

       Dunks.1 Layups Layups.1 Corner Corner.1 Heaves Heaves.1
count       32     32       32     32       32     32       32
unique      31     30       31     29       26     19        5
top        436  0.273     1180  0.241    0.367      9        0
freq         2      2        2      2        3      4       23

[4 rows x 28 columns]

In [6]:
# Drop any rows with missing values
df = df.dropna()

In [7]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,% of FGA by Distance,% of FGA by Distance.1,% of FGA by Distance.2,% of FGA by Distance.3,...,% of FG Ast'd,% of FG Ast'd.1,Dunks,Dunks.1,Layups,Layups.1,Corner,Corner.1,Heaves,Heaves.1
0,Rk,Team,G,MP,FG%,Dist.,2P,0-3,10-Mar,16-Oct,...,2P,3P,%FGA,Md.,%FGA,Md.,%3PA,3P%,Att.,Md.
1,1,Atlanta Hawks*,82,19855,0.483,13.3,0.669,0.254,0.188,0.135,...,0.495,0.765,0.065,455,0.245,1039,0.267,0.362,8,0
2,2,Boston Celtics*,82,19980,0.475,15.5,0.52,0.214,0.194,0.065,...,0.513,0.825,0.051,337,0.276,1183,0.224,0.402,12,0
3,3,Brooklyn Nets*,82,19730,0.487,14.6,0.603,0.222,0.177,0.122,...,0.525,0.82,0.059,373,0.222,891,0.243,0.392,6,0
4,4,Chicago Bulls*,82,19905,0.49,13.6,0.667,0.281,0.146,0.116,...,0.474,0.886,0.054,329,0.273,1163,0.262,0.397,4,0