In [1]:
import pandas as pd

In [3]:
csv_file_path = 'C:/Users/Home/NBA_Playoffs/Data/advanced_stats.csv'
df = pd.read_csv(csv_file_path)
df.head()

,Rk,Team,Age,W,L,PW,PL,MOV,SOS,SRS,...,TOV%,ORB%,FT/FGA,eFG%.1,TOV%.1,DRB%,FT/FGA.1,Arena,Attend.,Attend./G
0,1.0,Boston Celtics*,27.4,57.0,25.0,57,25,6.52,-0.15,6.38,...,12.0,22.1,0.197,0.528,11.3,78.5,0.180,TD Garden,766240,18689
1,2.0,Cleveland Cavaliers*,25.4,51.0,31.0,55,27,5.38,-0.15,5.23,...,12.3,23.6,0.206,0.535,14.4,76.3,0.210,Rocket Mortgage Fieldhouse,777280,18958
2,3.0,Philadelphia 76ers*,28.2,54.0,28.0,52,30,4.32,0.06,4.37,...,12.6,21.6,0.250,0.541,13.0,77.2,0.217,Wells Fargo Center,839261,20470
3,4.0,Memphis Grizzlies*,24.4,51.0,31.0,51,31,3.94,-0.34,3.60,...,11.7,26.5,0.190,0.526,13.1,75.9,0.206,FedEx Forum,707836,17264
4,5.0,Milwaukee Bucks*,29.8,58.0,24.0,50,32,3.63,-0.02,3.61,...,12.7,25.0,0.184,0.520,10.4,77.8,0.175,Fiserv Forum,718786,17531

In [4]:
# Show column names and data types
print(df.dtypes)

Rk           float64
Team          object
Age          float64
W            float64
L            float64
PW             int64
PL             int64
MOV          float64
SOS          float64
SRS          float64
ORtg         float64
DRtg         float64
NRtg         float64
Pace         float64
FTr          float64
3PAr         float64
TS%          float64
eFG%         float64
TOV%         float64
ORB%         float64
FT/FGA       float64
eFG%.1       float64
TOV%.1       float64
DRB%         float64
FT/FGA.1     float64
Arena         object
Attend.        int64
Attend./G      int64
dtype: object

In [5]:
# Calculate the average pace per game
average_pace = df['Pace'].mean()
print(f"Average Pace per Game: {average_pace:.2f}")

Average Pace per Game: 99.15

In [ ]:
# List of playoff teams (replace with the actual team names)
playoff_teams = ["Brooklyn Nets", "Philadelphia 76ers", "Boston Celtics", "New York Knicks", "Cleveland Cavaliers", "Golden State Warriors", "Sacramento Kings", "Milwaukee Bucks", "Denver Nuggets", "Memphis Grizzlies", "Los Angeles Clippers", "Phoenix Suns", "Los Angeles Lakers", "Atlanta Hawks", "TBD", "TBD"]

# Filter the DataFrame to include only playoff teams
playoff_teams_df = df[df['Team'].isin(playoff_teams)]

# Display the filtered DataFrame
print(playoff_teams_df)

# Save the filtered DataFrame to a new CSV file
csv_file_path_playoffs = "playoff_teams.csv"
playoff_teams_df.to_csv(csv_file_path_playoffs, index=False)